* {
  box-sizing: border-box;
}

html {
  font-size: 1em; /* Base font size in em */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  background-color: #121212;
  min-height: 100vh;
  width: 100vw; /* Ensure the app stretches to the full width of the viewport */
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

nav {
  height: 3.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.0625em solid grey;
}

nav h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: white;
  margin: 0;
  font-size: 2em;
}

.game {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.625em;
  padding: 0.625em;
  margin-bottom: 1.25em;
  max-width: 31.25em;
  width: 100%;
}

.row {
  display: contents;
}

.letter {
  border: 0.0625em solid grey;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
  font-weight: bold;
}


.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 31.25em;
  margin: 0 auto;
}

.line1, .line2, .line3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.key {
  margin: 0.25em;
  border: 0.0625em solid grey;
  border-radius: 0.3125em;
  padding: 0.25em 0.5em;
  flex: 1 0 auto;
  text-align: center;
  cursor: pointer;
  background-color: grey;
  color: white;
  font-size: 1em;
  max-width: calc(20% - 0.5em);
}

#big {
  flex: 0 0 auto;
  max-width: calc(40% - 0.5em);
  text-align: center;
}

#disabled {
  background-color: #3a393c;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

@media (max-width: 48em) {
  .letter, .key {
    font-size: 2em;
  }

  .board {
    grid-gap: 0.3125em;
    padding: 0.3125em;
  }

  .key, #big {
    font-size: 0.8em;
    padding: 0.2em 0.4em;
    margin: 0.2em;
    max-width: calc(20% - 0.4em);
  }

  #big {
    max-width: calc(40% - 0.4em);
  }
}

@media (max-width: 30em) {
  html {
    font-size: 0.875em;
  }

  nav h1 {
    font-size: 1.5em;
  }

  .letter {
    font-size: 1.5em;
  }

  .key, #big {
    font-size: 0.6em;
    padding: 0.15em 0.3em;
    margin: 0.15em;
    max-width: calc(20% - 0.3em);
  }

  #big {
    max-width: calc(40% - 0.3em);
  }

  .board {
    max-width: 18.75em;
  }

  .keyboard {
    max-width: 18.75em;
  }
}


.gameOver-backdrop {
  display: none; /* by default, it's not shown */
  position: fixed; /* or 'absolute', depending on your layout */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent backdrop */
  justify-content: center;
  align-items: center;
  z-index: 10; /* ensure it's above the other components */
}

.gameOver-backdrop.show {
  display: flex; /* only show it when it has the 'show' class */
  animation: fadeIn 0.5s;
}

.gameOver-content {
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
